body {
  font-family: 'PT Sans', sans-serif;
  background-color: #fff;
  color: #2d2d2d;
  margin: 0;
  font-size: 0.8em;
  background-color: #9eabb0;
}

div#dashboard {
  display: grid;
  grid-template-columns: 32em 32em 32em;
  grid-gap: 1px;
  justify-content: center;
  margin: 1em 0 0 0;
}

h1 {
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  background-color: #9eabb0;
  color: #fff;
  border: 1px solid #364e59;
  margin: 0 0 4px 0;
  padding: 4px 0;
  text-shadow: 1px 1px 3px #364e59;
  border-radius: 3px;
}

div#dashboard > div {
  background-color: #fff;
  padding: 1em;
  border-radius: 5px;
}

.tables {
  display: flex;
  justify-content: center;
}

.tables table {
  width: 80%;
}
.tables table tr td:nth-child(1){
  width: 50%;
  padding-right: 0.5em;
  text-align: right;
}

.tables table tr:nth-child( 2n+1) {
  background-color: #eeeeec;
}

.tables table tr td:nth-child(2){
  padding-left: 0.5em;
}

form#prompt {
  display: flex;
  justify-content: space-evenly;
}
form#prompt input[name="command"] {
  width: 60%;
}

.controls {
  margin: 1em 0;
}

.controls p {
  margin: 0;
  text-align: center;
  white-space: nowrap;
}

.controls input[type="number"] {
  width: 3.5em;
}

.controls input[type="number"].long {
  width: 7em;
}

.controls input.stateNumInput[data-changed="1"] {
  background-color: #ffb1c1;
}

.controls span.gauge {
  font-weight: 700;
  width: 5em;
}

.controls sub {
  font-family: monospace;
}

#fanControls {
  display: flex;
  column-gap: 4px;
  row-gap: 4px;
  align-items: baseline;
  justify-content: space-evenly;
}

#heatControls,
#prefControls {
  display: flex;
  column-gap: 4px;
  row-gap: 4px;
  align-items: baseline;
  justify-content: space-evenly;
}

#cStopSettings,
#cTempSettings,
#pidSettings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  justify-items: stretch;
  align-items: center;
}

#cStopSettings > div:nth-child(1),
#cTempSettings > div:nth-child(1),
#pidSettings > div:nth-child(1) {
  justify-self: end;
}

#cStopSettings > div:nth-child(1) > div,
#cTempSettings > div:nth-child(1) > div,
#pidSettings > div:nth-child(1) > div {
  text-align: right;
  height: 2em;
  line-height: 1.7em;
}

#cStopSettings > div:nth-child(2),
#cTempSettings > div:nth-child(2),
#pidSettings > div:nth-child(2) {
  justify-self: start;
}

#cStopSettings > div:nth-child(2) > div,
#cTempSettings > div:nth-child(2) > div,
#pidSettings > div:nth-child(2) > div {
  text-align: left;
  height: 2em;
}

#calibPoints {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  justify-items: center;
}

#calibPoints .calibControls {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  column-gap: 4px;
  row-gap: 4px;
  align-items: center;
}

#calibPoints .calibControls > div:first-child {
  height: 5em;
}

#calibPoints .calibControls > div {
}

div#eepromButtons,
div#calibButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  justify-items: center;
}
