body {
  font-family: 'PT Sans', sans-serif;
  background-color: #fff;
  color: #2d2d2d;
  margin: 0;
  font-size: 0.8em;
}

h1 {
  text-align: center;
  font-size: 0.85em;
  font-weight: 600;
}

div#dashboard {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 2em;
}

div#middle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

div#middle > div:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.tables {
  display: flex;
  justify-content: center;
}

.tables table {
  width: 80%;
}
.tables table tr td:nth-child(1){
  width: 50%;
  padding-right: 0.5em;
  text-align: right;
}

.tables table tr:nth-child( 2n+1) {
  background-color: #eeeeec;
}

.tables table tr td:nth-child(2){
  padding-left: 0.5em;
}

form#prompt {
  display: flex;
  justify-content: space-evenly;
}
form#prompt input[name="command"] {
  width: 60%;
}

.controls {
  margin-bottom: 1em;
}

.controls p {
  margin: 0;
  text-align: center;
  white-space: nowrap;
}

.controls input[type="number"] {
  width: 3.5em;
}

.controls input[type="number"].long {
  width: 7em;
}

.controls input.stateNumInput[data-changed="1"] {
  background-color: #ffb1c1;
}

.controls span.gauge {
  font-weight: 700;
  width: 5em;
}

.controls sub {
  font-family: monospace;
}

#fanControls {
  display: flex;
  column-gap: 4px;
  row-gap: 4px;
  align-items: baseline;
  justify-content: space-evenly;
}

#heatControls {
  display: flex;
  column-gap: 4px;
  row-gap: 4px;
  align-items: baseline;
  justify-content: space-evenly;
}

#pidSettings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  justify-items: stretch;
  align-items: center;
}

#pidSettings > div:nth-child(1) {
  justify-self: end;
}

#pidSettings > div:nth-child(1) > div {
  text-align: right;
  height: 2em;
  line-height: 1.7em;
}

#pidSettings > div:nth-child(2) {
  justify-self: start;
}

#pidSettings > div:nth-child(2) > div {
  text-align: left;
  height: 2em;
}

#calibPoints {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  justify-items: center;
}

#calibPoints .calibControls {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  column-gap: 4px;
  row-gap: 4px;
  align-items: center;
}

#calibPoints .calibControls > div:first-child {
  height: 5em;
}

#calibPoints .calibControls > div {
}

div#calibButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  justify-items: center;
}
