body {
  font-family: 'PT Sans', sans-serif;
  background-color: #fff;
  color: #2d2d2d;
  margin: 0;
  font-size: 0.8em;
}

h1 {
  text-align: center;
  margin: 2em 0 1em 0;
  font-size: 0.85em;
  font-weight: 600;
}

div#dashboard {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
}

div#dashboard > div > div:nth-child(2) {
  margin-top: 2em;
}

#state table {
  width: 100%;
}
#state table tr td:nth-child(1){
  width: 50%;
  padding-right: 1em;
  text-align: right;
}
#state table tr td:nth-child(2){
  padding-left: 1em;
}

form#prompt {
  display: flex;
  justify-content: space-evenly;
}
form#prompt input[name="command"] {
  width: 60%;
}

form#calibPoints {
  display: flex;
  justify-content: center;
  column-gap: 4px;
}

form#calibPoints input[type="number"] {
  width: 3.5em;
}

div#calibButtons {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  justify-items: center;
}
